.login {
    width: 50%;
    margin-top: 8%;
    margin-left: -15%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.loginbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.loginhead {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-weight: bold;
}

.createAccount {
    text-decoration: none;
}