.problem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.descriptiontitle {
    font-weight: bold;
    font-size: x-large;
}

.title {
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

.description {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.input {
    font-weight: 600;
    font-size: large;
}

.problemSubmit {
    width: 15%;
}

.div_problemSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
}